In [8]:
import pandas as pd

df = pd.read_csv("/home/neosoft/Desktop/jupyter/data.csv") #read file
df

        day  temperature  windspace  event
0  01/01/20           32          6  rainy
1  02/02/20           34          7  sunny
2  03/03/20           28          2   snow
3  04/04/20           24          7   snow
4  05/05/20           32          4  rainy
5  01/06/20           32          2  sunny

In [9]:
#create a data using python dictionary
weather_data = {
    "day": ["01/01/2020","01/02/2020","01/03/2020"],
    "temp" : [32, 35, 28],
    "windspeed": [6,7,2],
    "event": ["rain","sunny","snow"]
}
weather_data = pd.DataFrame(weather_data)
weather_data

          day  temp  windspeed  event
0  01/01/2020    32          6   rain
1  01/02/2020    35          7  sunny
2  01/03/2020    28          2   snow

In [ ]:
#empty = pd.DataFrame() #creating empty dataframe
lst= ["radha", "empty", "data", "frame"]
#list_data = pd.DataFrame(lst) #creating dataframe using list

In [10]:
rows, col = df.shape #find rows and columns
rows

6

In [11]:
df.iloc[::1]

4

In [12]:
df.head(3) #used to print few rows

        day  temperature  windspace  event
0  01/01/20           32          6  rainy
1  02/02/20           34          7  sunny
2  03/03/20           28          2   snow

In [13]:
df.tail(1) #used to print last rows

        day  temperature  windspace  event
5  01/06/20           32          2  sunny

In [14]:
df[2:5] #selected rows using slicing

        day  temperature  windspace  event
2  03/03/20           28          2   snow
3  04/04/20           24          7   snow
4  05/05/20           32          4  rainy

In [15]:
df.columns #print columns

Index(['day', 'temperature', 'windspace', 'event'], dtype='object')

In [16]:
df.day #used to selected rowsd

0    01/01/20
1    02/02/20
2    03/03/20
3    04/04/20
4    05/05/20
5    01/06/20
Name: day, dtype: object

In [17]:
df["event"]

0    rainy
1    sunny
2     snow
3     snow
4    rainy
5    sunny
Name: event, dtype: object

In [18]:
type(df["event"])

pandas.core.series.Series

In [21]:
df[["event", "day"]]

   event       day
0  rainy  01/01/20
1  sunny  02/02/20
2   snow  03/03/20
3   snow  04/04/20
4  rainy  05/05/20
5  sunny  01/06/20

In [23]:
df["temperature"].max() #used to maximum can also use min(), std()

34

In [24]:
df.describe() #used to print statistics of data

       temperature  windspace
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.669696   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      34.000000   7.000000

In [25]:
df[df.temperature>=32]  #used to select conditional rows

        day  temperature  windspace  event
0  01/01/20           32          6  rainy
1  02/02/20           34          7  sunny
4  05/05/20           32          4  rainy
5  01/06/20           32          2  sunny

In [26]:
df[df.temperature == df.temperature.max()]

        day  temperature  windspace  event
1  02/02/20           34          7  sunny

In [27]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [28]:
df.set_index("day") #used to index, it returns the new dataframe it doesnt modify the original one

          temperature  windspace  event
day
01/01/20           32          6  rainy
02/02/20           34          7  sunny
03/03/20           28          2   snow
04/04/20           24          7   snow
05/05/20           32          4  rainy
01/06/20           32          2  sunny

In [29]:
df.set_index("day", inplace=True) # it modify original one

In [34]:
df.loc["01/01/20"] #give particular row

temperature       32
windspace          6
event          rainy
Name: 01/01/20, dtype: object

In [35]:
df.reset_index(inplace = True) #reset index
df

        day  temperature  windspace  event
0  01/01/20           32          6  rainy
1  02/02/20           34          7  sunny
2  03/03/20           28          2   snow
3  04/04/20           24          7   snow
4  05/05/20           32          4  rainy
5  01/06/20           32          2  sunny